---
import Layout from "../layouts/Layout.astro";
import Trainers from "../components/ Trainers/Trainers.astro";
---

<Layout title="Катання на скейті Sharkteam">
 <main class="main">
  <Trainers />
 </main>
</Layout>

<style lang="scss">
 .main {
  padding-top: 80px;
 }
</style>
