---
import Layout from "../layouts/Layout.astro";
import RollerSchool from "../components/RollerSchool/RollerSchool.astro";
---

<Layout title="Катання на скейті Sharkteam">
 <main class="main">
  <RollerSchool />
 </main>
</Layout>

<style lang="scss">
 .main {
  padding-top: 80px;
 }
</style>
