---
import Layout from "../layouts/Layout.astro";
import Skateboard from "../components/Skateboard/Skateboard.astro";
---

<Layout title="Катання на скейті Sharkteam">
 <main class="main">
  <Skateboard />
 </main>
</Layout>

<style lang="scss">
 .main {
  padding-top: 80px;
 }
</style>
