---
import Layout from "../layouts/Layout.astro";
import Travels from "../components/Travels/Travels.astro";
---

<Layout title="Виїзди за місто Sharkteam">
 <main class="main">
  <Travels />
 </main>
</Layout>

<style lang="scss">
 .main {
  padding-top: 80px;
 }
</style>
