---
type socialData = {
 name: string;
 src: string;
 icon: string;
}[];
const social: socialData = [
 { name: "telegram", src: "", icon: "../../public/icons/telegram.svg" },
 {
  name: "instagram",
  src: "https://www.instagram.com/shark_team_rollerschool",
  icon: "../../public/icons/instagram.svg",
 },
 {
  name: "fb",
  src: "https://www.facebook.com/-SHARK-TEAM--618855728551811",
  icon: "../../public/icons/fb.svg",
 },
];
---

<>
 {
  social.map((item) => {
   return (
    <div class="icon-wrapper">
     <a class="social__link" href={item.src} target="_blank">
      <img src={item.icon} alt={item.name} />
     </a>
    </div>
   );
  })
 }
</>

<style lang="scss">
 .icon-wrapper {
  width: 32px;
  height: 32px;
  &:not(:last-child) {
   margin-right: 48px;
  }
 }
</style>
