---
import GalleryPart from "./gallery-part/gallery-part";

import img1 from "../../../public/images/gallery/1.jpg";
import img2 from "../../../public/images/gallery/2.jpg";
import img3 from "../../../public/images/gallery/3.jpg";
import img4 from "../../../public/images/gallery/4.jpg";
import img5 from "../../../public/images/gallery/5.jpg";
import img6 from "../../../public/images/gallery/6.jpg";
import img7 from "../../../public/images/gallery/7.jpg";
import img8 from "../../../public/images/gallery/8.jpg";
import img9 from "../../../public/images/gallery/9.jpg";
import img10 from "../../../public/images/gallery/10.jpg";
import img11 from "../../../public/images/gallery/11.jpg";

export const photos = [
 { src: img2, width: 1600, height: 900 },
 { src: img3, width: 800, height: 600 },
 { src: img10, width: 1600, height: 900 },
 { src: img7, width: 1600, height: 900 },
 { src: img6, width: 800, height: 600 },
 { src: img1, width: 800, height: 600 },
 { src: img11, width: 1600, height: 900 },
 { src: img9, width: 1600, height: 900 },
 { src: img8, width: 1600, height: 900 },
 { src: img5, width: 1600, height: 900 },
 { src: img4, width: 800, height: 600 },
];
---

<section id="gallery" class="gallery">
 <div class="container">
  <div class="gallery-wrapper">
   <div class="title-wrapper">
    <h2 class="title">Галерея</h2>
   </div>
   <GalleryPart client:load photos={photos} />
  </div>
 </div>
</section>

<style lang="scss">
 @import "../styles/variables.scss";
 @import "../styles/media-queries.scss";

 .gallery {
  margin-top: 72px;
 }
 .gallery-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 32px;
 }

 .title-wrapper {
  width: 100%;
  height: 124px;
  display: flex;
  margin-left: -70px;
  background-image: url(../../public/images/gallery.svg);
  background-size: contain;
  background-repeat: no-repeat;
  @include media-max(lg) {
   height: 70px;
   margin-left: -50px;
  }
 }
 .title {
  margin-top: 20px;
  margin-left: 70px;
  @include media-max(lg) {
   margin-top: 10px;
   margin-left: 50px;
  }
 }

 @include media-max(xs) {
  .gallery {
   margin-top: 32px;
   &::after {
    content: "";
    display: block;
    width: fit-content;
    width: 60%;
    margin: 40px auto 0;
    border-bottom: 1px $accent-1 solid;
   }
  }

  .gallery-wrapper {
   grid-gap: 24px;
  }

  .title-wrapper {
   justify-content: center;
   margin-left: 0;
   background-position: center;
  }

  .title {
   margin-top: 10px;
   margin-left: 0;
  }
 }
</style>
