
    $gray-600: #343434;
    $gray-400: #424242;
    $gray-200: #c4c4c4;
    $gray-100: #f7f7f7;
    $text-black-600: #1a0101;
    $text-black-500: #1F0F01;
    $text-white-100: #ffffff;
    $accent-1: #FF7A00;
    $accent-2: #FFF173;
    $accent-3: #327694;
    $black: #000000;
    $warning: #ea410c;
    $additions: #3b79c3;
    $disable: #e7e5e5;
    $background-body: #FFF9F4;
    $background-card: #FEF6EF;
    $background-footer: #524745;

    $accent-gradient: linear-gradient(45deg,
        $accent-1,
        $accent-2 60%,
    );

    // $accent-gradient: linear-gradient(45deg,
    //         $accent-1,
    //         $accent-2 30%,
    //         $text-white-100 60%);
